*{
    margin: 0;
    padding: 0;
    outline:0;
}
.space{
    padding: 50px;
}
.navigation-area-start{
    background: #343a40;
    margin:0;
    padding: 20px;
}

.logo{
    text-align: left;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    padding: 5px 10px;
    color:#c5bfbf;
}
ul.menu {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 0;
}
ul.menu li{
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.nav-menu {
    text-align: right;
    margin-top: -4px;
    padding: 3px 0;
}
ul.menu li a{
    padding: 16.5px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color:#c5bfbf;
}
.main-area-start{
    background: #e4e4e4;
}
.main-area-start p{
    font-family: 'lato', sans-serif;
    font-size: 18px;
    color: #6d6a6a;
}
.app-form-area{
/*    border: 1px solid;*/
    padding: 15px 0;
    border-radius: 5px;
/*    background: #c5bfbf;*/
}
.app-form{
    border: 1px solid ;
    border-radius:5px;
    padding: 5px;
    background: #fff;
    
}
.driver-age {
    margin: 15px 15px 0 15px;
}
.search-button {
     margin: 15px 15px 0 15px;
}
.search-button button{
    color:#fff;
    text-transform: uppercase;
    background: #343a40;
}
.search-button button:focus{
    background: #1abc9c;
    color:#fff;
}
ul.menu li ul.sub-menu {
    width: 150px;
    position: absolute;
    background: #e4e4e4;
    top: 20px;
    visibility:hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    
}
ul.menu li:hover ul.sub-menu {
    width: 150px;
    position: absolute;
    background: #e4e4e4;
    top: 58px;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

ul.menu li ul.sub-menu li {
    text-align: left;
    display: block;
    padding: 5px;
    border: 1px solid #3e3e3e;
}
ul.menu li ul.sub-menu li a {
    display: block;
    color: #6d6a6a;
    font-size: 12px;
    padding: 4px 0;
}
.form-head {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}